*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;

    background-image:
        linear-gradient(
            rgba(0,0,0,0.15),
            rgba(0,0,0,0.35)
        ),
        url("moon.jpeg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:white;
}

.container{
    width:100%;
    padding:40px;
}

h1{
    text-align:center;
    font-size:48px;
    margin-bottom:35px;
    color:white;
}

.input-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:50px;
}

input{
    width:350px;
    padding:12px;

    border:none;
    border-radius:25px;

    background:rgba(255,255,255,0.15);
    color:white;

    backdrop-filter:blur(5px);
}

input::placeholder{
    color:#e5e5e5;
}

input:focus{
    outline:none;
}

button{
    padding:12px 20px;

    border:none;
    border-radius:25px;

    background:#2563eb;
    color:white;

    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.lists{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    margin-top:20px;
}

.list-section{
    width:45%;
}

.list-section h2{
    font-size:30px;
    margin-bottom:20px;
    color:white;
}

.task{
    margin-bottom:15px;
    padding:5px;

    background:none;
    border:none;
    box-shadow:none;

    font-size:20px;
    color:white;
}

.delete{
    margin-left:15px;

    padding:6px 12px;

    border:none;
    border-radius:15px;

    background:#e11d48;
    color:white;

    cursor:pointer;
}

.delete:hover{
    background:#be123c;
}
